body {
  background-color: hsl(271, 76%, 53%, 30%);
}
.flex {
  margin-top: 10px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;

  border: 2px solid blueviolet;
  display: flex;
  background: hsl(0, 0%, 50%, 60%);
}

.text {
  margin-left: 20px;
}

.moreInfo {
  padding: 20px;
}
