.header {
  border: 1px solid rgb(243, 116, 217);
  height: 40px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
}

.navigation {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button {
  width: 80px;
  align-items: center;
  background-color: #ffe7e7;
  background-position: 0 0;
  border: 1px solid #fee0e0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #e745dc;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg)
    none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.button:active,
.button:hover,
.button:focus {
  outline: 0;
}

.button:active {
  background-color: #e745dc;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #ffffff;
}

.button:hover {
  background-color: #ffe3e3;
  border-color: #faa4a4;
}

.button:active:hover,
.button:focus:hover,
.button:focus {
  background-color: #e745dc;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #ffffff;
}
